@font-face {
    font-family: 'Caslon';
    src: url('ACaslonPro-BoldItalic.woff2') format('woff2'),
        url('ACaslonPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon';
    src: url('ACaslonPro-Italic.woff2') format('woff2'),
        url('ACaslonPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon';
    src: url('ACaslonPro-Bold.woff2') format('woff2'),
        url('ACaslonPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon';
    src: url('ACaslonPro-Regular.woff2') format('woff2'),
        url('ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
